# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
public/proof-data

# Logs
logs
*.log

# Cloudflare
.wrangler

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
